<configuration>
  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
  </appender>

  <appender name="threadsafe-appender" class="com.nazarov.saucedemo.appender.ApplicationLogAppender"/>

  <root level="info">
    <appender-ref ref="STDOUT"/>
    <appender-ref ref="threadsafe-appender"/>
  </root>
</configuration>